新しい作品・情報が登録されました！

協力会社名　　：<%= @ttopic.mcompany.company_name if @ttopic.mcompany %>
作品タイプ　　：<%= @ttopic.topic_type %>
クライアント　：<%= @ttopic.client %>
カテゴリー　　：<%= @ttopic.category %>
ブランド名　　：<%= @ttopic.brand %>
件名　　　　　：<%= @ttopic.title %>
ツール名　　　：<%= @ttopic.tool %>
内容　　　　　：
<%= @ttopic.body_text %>

以下のリンクよりログインして
詳細をご確認下さい

<%= ttopic_url(@ttopic)  %>
