<div id="carousel" class="carousel slide" data-interval="5000">
    <!-- Carousel items -->
    <div class="carousel-inner" style="background-color: #999999;">
    <% count = 0 %>
    <% @carousels.each do |carousel| %>
        <% if count > 0 %>
        	<div class="item">
        <% else %>
        	<div class="active item">
        <% end %>
        <div class="container">
        <div class="row">
          <div class="span6">
            <div class="unit" style="margin-left:72px;">
              <div style="color:#FFF;"><h4><%= carousel[:title] if carousel %></h4></div>
              <p class="lead"><%= carousel[:body_text].gsub('\r',' ') if carousel[:body_text] %></p>
              <div style="color:#FFF;">
                <h5>
                  <% if carousel[:mcompany] %>
                    <%= link_to carousel[:mcompany].company_name ,mcompany_path(carousel[:mcompany].id),:style=>"color:#FFF;"%>
                  <% end %>
                </h5>
                <%= link_to "詳細を見る",ttopic_path(carousel[:ttopic_id]),:class=>"btn btn-success" %>
              </div>
                
            </div>
          </div>
          <div class="span6">
            <p class="thumb">
              <a href="<%= carousel.img_url %>" target="_blank">
                <img src=<%= carousel.thumbnail_url %> style="max-width:400px;max-height:300px;" >
              </a>
            </p>
          </div>
        </div>
        </div>
        
 
        <!-- <div class="carousel-caption">
        	<h4><%= carousel[:title] if carousel %></h4>
            <p><%= carousel[:body_text].gsub('\r',' ') if carousel[:body_text] %></p>
            <span class="help-block pull-right" style="color: #FFF;"><small><%= carousel[:mcompany].company_name if carousel[:mcompany] %></small></span>
        </div> -->
    </div>
    <% count+=1 %>
    <% end %>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
</div>

<script>
// iPhone/iPad/iPod、Android
if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
|| navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
  //mobile
  var carousel = document.getElementById("carousel");
  carousel.parentNode.removeChild(carousel);
}
</script>

