<%= f.input :mcompany_id, :collection=>@mcompany_id, :as => :select,:label_method => :company_name ,:value_method => :id,:hint=>'<div style="font-size: 80%;">※一覧に無い場合の登録はこちら > <a href="/mcompanies/popup?type=0" class="mdl" onclick="reset()">会社登録</a></div>' %>

