<%= f.input :printing_company, :collection=>@printing_company, :as => :select,:label_method => :company_name ,:value_method => :id,:hint=>'<div style="font-size: 80%;">※一覧に無い場合の登録はこちら > <a href="/mcompanies/popup?type=2" class="mdl" onclick="reset()">会社登録</a></div>' %>

