<%= f.input :brand, :collection=>@brand, :as => :select,:label_method => :brand_name ,:value_method => :id ,:hint=>'<div style="font-size: 80%;">※一覧に無い場合の登録はこちら > 
<a href="/mbrands/popup" class="mdl" onclick="reset()">ブランド登録</a></div>'%>

