<div id="mdl">
<div class="background"></div>
<div class="container"></div>
</div><!-- mdl -->
<div class="container page-content">
  <%= simple_form_for @ttopic, :html => {:class => 'form-horizontal', :multipart => true, :id => "fileupload"  } do |f| %>
    <div class="row-fluid">
      <div class="span6">
      <%= render 'cmbclient_id' , {:f => f} %>
    <%= f.input :ajicomsales, :collection=>Muser.where(:user_div => '1').order(:user_name), :as => :select,:label_method => :user_name ,:value_method => :id  %>
    <%= f.input :cr_rep, :collection=>Muser.where(:user_div => '2').order(:user_name), :as => :select,:label_method => :user_name ,:value_method => :id  %>
        <div class="control-group">
          <%= f.label :use %>
          <div class="controls">
            <label><%= f.radio_button :use, 1, :checked => "checked" %> 家庭用</label>
            <label><%= f.radio_button :use, 2 %> 業務用</label>
            <label><%= f.radio_button :use, 3 %> インナー向け</label>
          </div>
        </div>
        <%= render 'cmbbrand' , {:f => f} %>
        <%= f.input :title, :required=>true %> 
        <%= f.input :tool %> 
        <%= f.input :dep_season, :as => :date, :start_year => Date.today.year ,:end_year => 1990,:order => [:year,:month] %>
      <%= render 'cmbmcompany_id' , {:f => f} %>
      <%= render 'cmbmprinting_company' , {:f => f} %>
        <%= f.input :production_cost %>
        <%= f.input :photo %>
        <%= f.input :styling %>
        <%= f.input :web_url %>
        <%= f.input :body_text, :input_html =>{:rows=>'6'} %> 
        <%= f.hidden_field :upload_date, :value =>Date.today.to_s %> 
      </div>
      <div class="span6">
      <%= f.input :tcategories, :collection=>Mcategory.all(:order=>:id), :as => :check_boxes,:label_method => :name ,:value_method => :id %>
        <%= f.input :tchecks, :collection=>Mcheck.all(:order=>:id), :as => :check_boxes,:label_method => :name ,:value_method => :id %>
        <br><br><br>
      <div class="unit actions pull-center ">
         <%= f.submit :class=>'btn btn-large' %>
        </div>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="span12">
        <div class="unit">
          <legend>ファイルをアップロード（最大サイズ:50MB,PDFの場合は3MB）</legend>
          <div class="fileupload-buttonbar">      
            <div class="span6">
              <span class="btn btn-success fileinput-button">
                <i class="icon-plus icon-white"></i>
                <span>ファイルを追加</span>
                <%= f.file_field :upload_file ,:multiple=>true%>
              </span>
              <button type="submit" class="btn btn-primary start">
                <i class="icon-upload icon-white"></i>
                <span>アップロード</span>
              </button>
              <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
              </table>
              <!-- The global progress bar -->
              <div class="progress progress-success progress-striped active fade">
                <div class="bar" style="width:0%;"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row span10">
      <div class="unit actions pull-right ">
        <%= f.submit :class=>'btn btn-large' %>
      </div>
    </div>    
  <% end %>
</div>

<%= javascript_tag do %>
  <% if !@tfilebytopics.blank? %>
    window.files = <%= raw @tfilebytopics %>
  <% end %>
<% end %>

<script>
  var fileUploadErrors = {
  maxFileSize: 'ファイルサイズが大きすぎます',
  minFileSize: 'ファイルサイズが小さすぎます',
  acceptFileTypes: '許可されていないファイルです',
  maxNumberOfFiles: 'ファイル数が多すぎます',
  uploadedBytes: 'ファイルサイズ',
  emptyResult: 'ファイルがありません'
  };
</script>

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
  
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span><br>{%=file.name%}<br>{%=o.formatFileSize(file.size)%}</td>
    {% if (file.error) { %}
      <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
      <td>
        <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
      </td>
      <td class="start">
        {% if (!o.options.autoUpload) { %}
          <button class="btn btn-primary">
            <i class="icon-upload icon-white"></i>
            <span>{%=locale.fileupload.start%}</span>
          </button>
        {% } %}
      </td>
    {% } else { %}
      <td colspan="1"></td>
    {% } %}
    <td class="cancel">
      {% if (!i) { %}
        <button class="btn btn-warning">
          <i class="icon-ban-circle icon-white"></i>
          <span>{%=locale.fileupload.cancel%}</span>
        </button>
      {% } %}
    </td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
      {% if (file.error) { %}
        <td></td>
        <td class="name"><span>{%=file.name%}</span></td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
        <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
      {% } else { %}
        {% if (file.thumbnail_url) { %}
          <td class="preview">
            <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
          </td>
        {% } %}
        <td class="name" >
          <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
        </td>
        <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
      {% } %}
        <td class="delete">
          <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
            <i class="icon-trash icon-white"></i>
            <span>削除</span>
          </button>
        </td>
    </tr>
  {% } %}
</script>

<script type="text/javascript" charset="utf-8">
  $(function () {
      // Initialize the jQuery File Upload widget:
      $('#fileupload').fileupload();
      
      // Load existing files:
      $.getJSON($('#fileupload').prop('action'), function (files) {
        
        if (window.files){
          console.log(window.files);
          files = [];
          for(var i in window.files){
            files.push(eval("("+window.files[i]+")"));
          }

          console.log(files);
          
          var fu = $('#fileupload').data('fileupload'), 
            template;
          fu._adjustMaxNumberOfFiles(-files.length);
          //console.log(files);
          template = fu._renderDownload(files)
            .appendTo($('#fileupload .files'));
          // Force reflow:
          fu._reflow = fu._transition && template.length &&
            template[0].offsetWidth;
          template.addClass('in');
          $('#loading').remove();
        }
      });

  });
</script>


<script type='text/javascript'>//<![CDATA[ 

$(function(){

$("[data-behaviour~='datepicker']").datepicker({
    "language": "ja",
    "format": "yyyy/mm/dd",
    "autoclose": true
});

$('#ttopic_client_id').change(function(){
  var client_id = $('#ttopic_client_id').val();
  //alert(client_id);
  //var client_id = 110;
  $('#ttopic_client_rep').children().remove();
  $.get("/ttopics/client_select?client_id=" + client_id, function(data){
   jQuery.each(data, function(i, val) {
        jQuery('#ttopic_client_rep').append(jQuery('<option value="i">' + val['name'] + '</option>'));
  });
  });
});

//]]>
</script>

<SCRIPT language="JavaScript">
var ibrand = 0;
function reset(){
  ibrand = 0;
}

function cmbclear(){
  ibrand++;
  if (ibrand != 1) {
    return false;
  }

  var sName = "";
  var sControl = "";
  var sValue = "";

  sName = '#ttopic_brand';
  sControl = "/ttopics/cmbbrand";
  sValue = 'brand_name';
  cm_cmbclear(sName, sControl, sValue);

  sName = '#ttopic_client_id';
  sControl = "/ttopics/cmbclient_id";
  sValue = 'company_name';
  cm_cmbclear(sName, sControl, sValue);

  sName = '#ttopic_mcompany_id';
  sControl = "/ttopics/cmbmcompany_id";
  sValue = 'company_name';
  cm_cmbclear(sName, sControl, sValue);

  sName = '#ttopic_printing_company';
  sControl = "/ttopics/cmbmprinting_company";
  sValue = 'company_name';
  cm_cmbclear(sName, sControl, sValue);
}
function cm_cmbclear(sName, sControl, sValue){
  //コンボボックスを一旦クリア
  $(sName).children().remove();
  //一個目の空白を挿入
  jQuery(sName).append(jQuery('<option value=""></option>'));
  //コントローラ経由でDB値を取得
  $.get(sControl, function(data){
    //コンボボックス値を挿入
    jQuery.each(data, function(i, val) {
      jQuery(sName).append(jQuery("<option value=" + val['id'] + ">" + val[sValue] + "</option>"));
    });
  });
}

$(function() {
  setModal();
})
 
function setModal() {
  //HTML読み込み時にモーダルウィンドウの位置をセンターに調整
  adjustCenter("div#mdl div.container");
  //ウィンドウリサイズ時にモーダルウィンドウの位置をセンターに調整
  $(window).resize(function() {
    adjustCenter("div#mdl div.container");
  });
  //背景がクリックされた時にモーダルウィンドウを閉じる
  $("div#mdl div.background").click(function() {
    displayModal(false);
  });
  //リンクがクリックされた時にAjaxでコンテンツを読み込む
  $("a.mdl").click(function() {
    $("div#mdl div.container").load($(this).attr("href"), data="html", onComplete);
    return false;
  });
  //コンテンツの読み込み完了時にモーダルウィンドウを開く
  function onComplete() {
    displayModal(true);
    $("div#mdl div.container a.close").click(function() {
      displayModal(false);
      return false;
    });
  }
}
 
//モーダルウィンドウを開く
function displayModal(sign) {
  if (sign) {
    $("div#mdl").fadeIn(500);
  } else {
    $("div#mdl").fadeOut(250);
    cmbclear();
  }
}
 
//ウィンドウの位置をセンターに調整
function adjustCenter(target) {
  //var margin_top = ($(window).height()-$(target).height())/2;
  //var margin_left = ($(window).width()-$(target).width())/2;

  //$(target).css({top:margin_top+"px", left:margin_left+"px"});
}
</SCRIPT>


<style>
div#mdl {
  display: none;
  position: fixed;
  width: 70%;
  height: 100%;
}
div#mdl div.background {
  position:fixed;
  width: 70%;
  height: 100%;
  background-color: #000000;
  opacity: 0.75;
  filter: alpha(opacity=75);
  -ms-filter: "alpha(opacity=75)";
}
div#mdl div.container {
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
}
</style>
