<%= simple_form_for @ttopic, :url=>{:action => :search}, :html => {:class => 'form-horizontal'  }, :remote => true do |f| %>
  <div class="row">
    <div class="span6">
      <br><br>
      <%= f.input :client_id, :collection=>Mcompany.where(:company_type => 1).order(:id), :as => :select,:label_method => :company_name ,:value_method => :id  %>
      <%= f.input :mcompany_id, :collection=>Mcompany.where("company_type = 0").order(:id), :as => :select,:label_method => :company_name ,:value_method => :id %>
      <%= f.input :printing_company, :collection=>Mcompany.where("company_type = 2").order(:id), :as => :select,:label_method => :company_name ,:value_method => :id %>
      <%= f.input :ajicomsales, :collection=>Muser.where(:user_div => '1').order(:id), :as => :select,:label_method => :user_name ,:value_method => :id  %>
      <%= f.input :cr_rep, :collection=>Muser.where(:user_div => '2').order(:id), :as => :select,:label_method => :user_name ,:value_method => :id  %>
      <%= f.input :use, :collection=>Mtopicuse.order(:id), :as => :select,:label_method => :name ,:value_method => :id  %>
      <%= f.input :brand, :collection=>Mbrand.order(:id), :as => :select,:label_method => :brand_name ,:value_method => :id  %> 
      <%= f.input :title %> 
      <%= f.input :tool %> 
      <%= f.input :photo %>
      <%= f.input :styling %>
      <%= f.input :body_text, :input_html =>{:rows=>'1'} %> 
      <br>
    </div>
    <div class="span6">
	ツールカテゴリ
    </div>
    <div class="span6">
      <% @mcategories.each do |mcategory| %>
        <div class="<%= mcategory[:class_string] + ' btn btn-mini fileinput-button' %>" data-toggle="buttons-checkbox">
          <span><%= f.check_box :tcategories, {:name => "tcategories[#{mcategory.id}]" }, mcategory.id, mcategory[:btn_active] %> <%= mcategory.name %></span>
        </div>
      <% end %>
    </div>
    <div class="span6">
    <br>特記事項
    </div>
    <div class="span6">
      <% @mchecks.each do |mcheck| %>
        <div class="<%= mcheck[:class_string] + ' btn btn-mini fileinput-button' %>" data-toggle="buttons-checkbox">
          <span><%= f.check_box :tchecks, {:name => "tchecks[#{mcheck.id}]" }, mcheck.id, mcheck[:btn_active] %> <%= mcheck.name %></span>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <%= f.text_field :historyback,:type=>"hidden" %>
  <div class="row">
    <div class="actions pull-right">
    	<br>
      <%= f.submit '      検   索      ',:class=>'btn btn-large' %>
    </div>
  </div>
<% end %>

<script type='text/javascript'>//<![CDATA[ 
  $('.fileinput-button').on('click', function(event){
    var input = $(this).find('input[type=hidden]');
    
    input.val(1);
    
    var activeNodeList = $('.active');
    
    for (var i = 0; i < activeNodeList.length; i++){
      if ($(this)[0] == activeNodeList[i]){
        input.val(0);
        break;
      }
    }
  });
//]]>
</script>
