<div class="row">
	<div class="span12">
		<ul class="thumbnails">
			<% topic_count = 0 %>
			<% @ttopics.each do |ttopic| %>
			
			<% if topic_count > 2 %>
				<% topic_count = 0 %>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<ul class="thumbnails">
			<% end %>			
			<li class="span4">
				<div class="thumbnail unit-bg">
				  <p class="thumb" style="height:320px;">
				  <% if ttopic.tfilebytopics.count > 0 %>
				    <% tfilebytopic = ttopic.tfilebytopics[0] %>
				    <% if isPdf(tfilebytopic.content_type) %>
				    <% userAgent=request.env["HTTP_USER_AGENT"] %>
				    <a href="<%= tfilebytopic.upload_file_url %>" target="_blank">
				      <% if userAgent.index('iPhone') == nil && userAgent.index('iPad') == nil && userAgent.index('iPod') == nil && userAgent.index('Android') == nil %>
  				      <% if userAgent.index('Safari') && userAgent.index('Chrome') == nil %>
                <img src=<%= tfilebytopic.upload_file_url %> >
                <% else %>
                <img src=<%= tfilebytopic.thumbnail2_url %> >
                <% end %>
				      <% else %>
				      <img src='/ajicom.png' width="100%">
				      <% end %>
            </a>
				    <% elsif isImage(tfilebytopic.content_type) %>
				    <a href="<%= tfilebytopic.upload_file_url %>" target="_blank">
				      <img src=<%= tfilebytopic.thumbnail2_url %> >
            </a>
            <% elsif isMovie(tfilebytopic.content_type) %>
              <video src=<%= tfilebytopic.thumbnail_url %> controls width='100%' allowFullScreen='true'>
              </video>
            <% else %>
              <img src='/ajicom.png' width="100%">
            <% end %>
          <% else %>
            <img src='/ajicom.png' width="100%">
          <% end %>
          </p>
				<div class="caption">
               		<h4><%= ttopic.title %></h4>
               		<p><%= ttopic.upload_date.strftime('%Y/%m/%d') if ttopic.upload_date %></p>
                  <p><%= link_to ttopic.web_url,ttopic.web_url if ttopic.web_url %></p>
					<span class="help-block"><small><%= link_to ttopic.mcompany.company_name ,mcompany_path(ttopic.mcompany.id) if ttopic.mcompany %></small></span>
                    <span class="view-deal">
                      <div>
                      <%= link_to "詳細を見る",ttopic_path(ttopic.id),:class=>"btn btn-success" %>
                      </div></span>
                </div>
                </div>
              
           	</li>
           	<% topic_count += 1 %>
			<% end %>
		</ul>
	</div>
</div>     

<script>
    // Safari
     if ( navigator.userAgent.indexOf('Safari') > 0 && navigator.userAgent.indexOf('Chrome') == -1 ) {
       //mobile
       var thumb = document.getElementById("thumbnail_image");
       thumb.parentNode.removeChild(thumb);
     }else{
       var thumb = document.getElementById("thumbnail_pdf");
       thumb.parentNode.removeChild(thumb);
     }
    </script>
                            
                        