<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row unit-block">
        <div class="span12 unit-bg">
          <div class="unit">
            <legend>
              <img src="/assets/app/img/glyphicons_248_asterisk.png" />
              作品一覧
            </legend>
          </div>
        </div>
      </div>
      <% muser = Muser.where(:mail=>User.current_user.email).first %>
        
      
      <div id="phoneRow" class="row">
        <div class="span12 unit-bg">
          
          <div class="accordion" id="accordion">
            <% @ttopics.each do |ttopic| %>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= ttopic.id %>" >
                      <%= ttopic.use %><br>
                      <%= ttopic.title %>
                    </a>
                  </div>
                  <div id="collapse<%=ttopic.id%>" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <%= ttopic.topic_type %><br>
                      <% if !ttopic.upload_date.blank? %>
                         <%= ttopic.upload_date.strftime "%Y/%m/%d" %><br>
                      <% end %>
                      <span>
                        <%= link_to '詳細', ttopic, :class=>"btn btn-success" %>
                      </span>
                      <% if !muser.blank? && muser.user_div >= '2' %>
                      <span>
                        <%= link_to '修正', edit_ttopic_path(ttopic), :class=>"btn btn-warning cancel" %>
                      </span>
                      <span>
                        <%= link_to '削除', ttopic, :class=>"btn btn-danger delete", :method => :delete, :data => { :confirm => '削除してよろしいですか？' } %>
                      </span>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <%= will_paginate @ttopics, :renderer => BootstrapPagination::Rails %>
          </div>
        </div>
        <div id="pcRow" class="row">
          <div class="span12 unit-bg">
            <table id="sort" class="table table-striped table-bordered table-condensed">
              <tr>
                <th class="span1">用途</th>
                <th class="span3">件名</th>
                <th class="span3">クライアント</th>
                <th class="span2">日付</th>
                <th></th>
                <% if !muser.blank? && muser.user_div >= '2' %>
                <th></th>
                <th></th>
                <% end %>
              </tr>
              <% @ttopics.each do |ttopic| %>
              <tr>
                <td><%= Mtopicuse.find_by_id(ttopic.use).another_name  if Mtopicuse.find_by_id(ttopic.use) %></td>
                <td><%= ttopic.title %></td>
                <td><%= Mcompany.find_by_id(ttopic.client_id).company_name  if Mcompany.find_by_id(ttopic.client_id) %></td>
                <td><%= ttopic.upload_date.strftime "%Y/%m/%d" if !ttopic.upload_date.blank? %></td>
                <td>
                  <span >
                    <%= link_to '詳細', ttopic, :class=>"btn btn-success" %>
                  </span>
                </td>
                <% if !muser.blank? && muser.user_div >= '2' %>
                <td>
                  <span >
                    <%= link_to '修正', edit_ttopic_path(ttopic), :class=>"btn btn-warning cancel" %>
                  </span>
                </td>
                <td>
                  <span >
                    <%= link_to '削除', ttopic, :class=>"btn btn-danger delete", :method => :delete, :data => { :confirm => '削除してよろしいですか？' } %>
                  </span>
                </td>
                <% end %>
              </tr>
            <% end %>
            </table>
            <%= will_paginate @ttopics, :renderer => BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <style>
      th.sort-header {
      cursor:pointer;
      }
    th.sort-header::-moz-selection,
    th.sort-header::selection {
      background:transparent;
      }
    table th.sort-header:after {
      content:'';
      float:right;
      margin-top:7px;
      border-width:0 4px 4px;
      border-style:solid;
      border-color:#404040 transparent;
      visibility:hidden;
      }
    table th.sort-header:hover:after {
      visibility:visible;
      }
    table th.sort-up:after,
    table th.sort-down:after,
    table th.sort-down:hover:after {
      visibility:visible;
      opacity:0.4;
      }
    table th.sort-up:after {
      border-bottom:none;
      border-width:4px 4px 0;
      } 
    </style>
    
    <script>
    // iPhone/iPad/iPod、Android
    if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
    || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
      var pcRow = document.getElementById("pcRow");
      pcRow.parentNode.removeChild(pcRow);
    }else{
      //remove accordion
      var phoneRow = document.getElementById("phoneRow");
      phoneRow.parentNode.removeChild(phoneRow);
    }
    
      new Tablesort(document.getElementById('sort'));

  </script>
  
  

