<div class="container-fluid">
  <div class="row unit-block">
    <div class="span12 unit-bg">
      <div class="unit">
          <legend>
              <img src="/assets/app/img/glyphicons_248_asterisk.png" />
              作品の登録</legend>
      </div>
        
      <%= render 'form' %>  
    </div>
  </div>
</div>
