<div class="container-fluid">
  <div class="row-fluid unit-block">
    <div class="span14 unit-bg">
        <div class="unit">
            <legend>
                <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                作品、情報の掲載</legend>
        </div>
        
        <%= render 'form' %>    
        </div>
  </div>
</div>
