<style>
  .btn-mini{
    width:100px;
    height:40px;
    font-size:14px;
  }
</style>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="row unit-block">
        <div class="span12 unit-bg">
          <div class="unit">
            <legend>
              <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                作品検索
            </legend>
            <div id="search_form">
              <%= render 'search_form' %>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" id="loaded">
      <div id="topics">
        <%= render 'thumbnails' %>
      </div>
    </div>
  </div>
</div>                                

<script type='text/javascript'>//<![CDATA[ 
  window.onpageshow = function(event) {
    //history.back時再検索
    var loaded = document.getElementById("loaded");
    if (loaded.value==1){
      var hb = document.getElementById("ttopic_historyback");
      hb.value="1";
      $("#new_ttopic").submit();
    }else{
      loaded.value=1;
    }
    
  }
//]]>
</script>

<script type='text/javascript'>//<![CDATA[ 

$(function(){
$("[data-behaviour~='datepicker']").datepicker({
    "language": "ja",
    "format": "yyyy/mm/dd",
    "autoclose": true
});
});//]]>
</script>                
