<div class="container-fluid">
  <div class="row-fluid unit-block unit-bg">
    <div class="span12">
        <div class="unit">
          <legend>
                <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                <%= @ttopic.title %></legend>      
        </div>
        <div class="row span5">
          <div id="carousel" class="carousel slide" data-interval="9999999">
            <!-- Carousel items -->
            <div class="carousel-inner" style="background-color: #999999;height:480px;">
            <% count = 0 %>
            <% @ttopic.tfilebytopics.each do |tfile| %>
              <% if isAvailable(tfile.content_type) %>
                <% if count > 0 %>
                  <div class="item" style="height:100%;">
                <% else %>
                  <div class="active item" style="height:100%;">
                <% end %>
                <div class="container offset1" style="height:100%;">
                  <div class="thumb" style="height:100%;margin-top:12px;">
                    <% if isImage(tfile.content_type) &&  %>
                      <a href="<%= tfile.upload_file_url %>" target="_blank">
                          <img src=<%= tfile.thumbnail2_url %> style="max-width:400px;max-height:400px;" >
                      </a>
                    <% elsif isMovie(tfile.content_type) %>
                      <video src=<%= tfile.thumbnail_url %> controls width="300" height="400" allowFullScreen='true'>
                        <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
                      </video>
                    <% else %>
                      <a href="<%= tfile.upload_file_url %>" target="_blank">
                       <img src="/ajicom.png" >
                      </a>
                    <% end %>
                  </div>
                </div>
                <div class="carousel-caption">
                  <h4><%= tfile.upload_file_name if tfile %></h4>
                </div>
                 </div>
                <% count+=1 %>
              <% end %>
            <% end %>
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
          </div>
        </div>
        <div class="row span6 control-group">
          <label class="label">クライアント</label>
          <label class="controls"><%= Mcompany.find_by_id(@ttopic.client_id).company_name  if Mcompany.find_by_id(@ttopic.client_id) %></label>
          <label class="label">アジコム営業</label>
          <label class="controls"><%= Muser.find_by_id(@ttopic.ajicomsales).user_name  if Muser.find_by_id(@ttopic.ajicomsales) %></label>
          <label class="label">アジコムCR担当者</label>
          <label class="controls"><%= Muser.find_by_id(@ttopic.cr_rep).user_name  if Muser.find_by_id(@ttopic.cr_rep) %></label>
          <label class="label">用途</label>
          <label class="controls"><%= Mtopicuse.find_by_id(@ttopic.use).name  if Mtopicuse.find_by_id(@ttopic.use) %></label>
          <label class="label">ブランド名</label>
          <label class="controls"><%= Mbrand.find_by_id(@ttopic.brand).brand_name  if Mbrand.find_by_id(@ttopic.brand) %></label>
          <label class="label">ツール名</label>
          <label class="controls"><%= @ttopic.tool %></label>
          <label class="label">展開時期</label>
          <label class="controls"><%= @ttopic.dep_season.strftime("%Y年 %m月") if @ttopic.dep_season %></label>
          <label class="label">ツールカテゴリ</label>
          <label class="controls">
            <% @ttopic.tcategorybytopics.each do |category| %>
              <div class="btn btn-topic" id="topic_type"><%= category.mcategory.name %></div>
            <% end %>
          </label>
          <label class="label">製作会社</label>
          <label class="controls"><%= Mcompany.find_by_id(@ttopic.mcompany_id).company_name if Mcompany.find_by_id(@ttopic.mcompany_id) %></label>
          <label class="label">印刷会社</label>
          <label class="controls"><%= Mcompany.find_by_id(@ttopic.printing_company).company_name if Mcompany.find_by_id(@ttopic.printing_company) %></label>
          <label class="label">制作コスト</label>
          <label class="controls"><%=  number_to_currency(@ttopic.production_cost, unit: "円") %></label>
          <label class="label">撮影</label>
          <label class="controls"><%= @ttopic.photo %></label>
          <label class="label">スタイリング</label>
          <label class="controls"><%= @ttopic.styling %></label>
          <label class="label">備考</label>
          <label class="controls"><pre><%= @ttopic.body_text %></pre></label>
          <label class="label">特記事項</label>
          <label class="controls">
            <% @ttopic.tcheckbytopics.each do |checks| %>
              <div class="btn btn-topic" id="tcheck"><%= checks.mcheck.name %></div>
            <% end %>
          </label>
        </div>
    </div>
  </div>
  <ul class="pager">
      <li class="prev">
        <% muser = Muser.where(:mail=>User.current_user.email).first %>
        <% if !muser.blank? && muser.user_div >= '2' %>
          <%= link_to '情報を修正する', edit_ttopic_path(@ttopic) %>
        <% end %>
        </li>  
    </ul>
  <div class="row-fluid unit-block unit-bg">
    <div class="span12">
      <div class="unit">
            <legend>
                <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                ファイル</legend>
        </div>
        <div class="row span10" style="padding-bottom:40px;">
          <table>
          <% @ttopic.tfilebytopics.each do |tfile| %>
            <tr>
                <td class="name">
                  <% if !muser.blank? && muser.user_div >= '2' %>
                  <a href=<%= tfile.upload_file_url %> title=<%= tfile.upload_file_name %> target="_blank">
                      <%= tfile.upload_file_name %>
                    </a>
                  <% else %>
                    <%= tfile.upload_file_name %>
                  <% end %>
                </td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid unit">
  </div>
</div>


