<div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row unit-block">
                    <div class="span12 unit-bg">
                        <div class="unit">
                            <legend>
                                <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                                What's New</legend>
                                <!-- スライドショー -->
                          <%= render :partial => 'carousel'%>
                        </div>
                    </div>
                </div>
                
                
                <!-- サムネイル -->
                <%= render :partial => 'thumbnails'%>
                
            </div>
        </div>
    </div>
    <!-- jquery -->
    <script src="/assets/jquery/js/jquery-1.7.2.min.js"></script>
    <!--bootstrap-->
    <script src="/assets/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/assets/bootstrap/js/bootstrap-carousel.js"></script>
    <!-- twitter -->
    <script>        !function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s); js.id = id; js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        } (document, "script", "twitter-wjs"); </script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>        (function (d, s, id) {
            var 
    js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));</script>
