<%= simple_form_for @muser, :html => {:class => 'form-horizontal'  } do |f| %>
  <% if @muser && @muser.errors && @muser.errors.any? %>
    <div id="error_explanation" style="background-color:#FFCCCC">
      <ul>
      <% @muser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @user && @user.errors && @user.errors.any? %>
    <div id="error_explanation" style="background-color:#FFCCCC">
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% muser = Muser.where(:mail=>User.current_user.email).first %>
  <div class="row span12">
    <%= f.hidden_field :user_div %>
    
    <%= f.input :user_name,:required=>true %>
    <%= f.input :user_kana,:required=>true %>
 
    <%= f.input :mail,:required=>true %>
    <% if (@muser && @muser[:user_div]=='2') || (!muser.blank? && muser.user_div=='3') %>
      <%= f.input :password,:as=>:password,:required=>true %>
    <% end %>
  </div>
  <div class="row span10">
    
    <div class="actions pull-right">
      <%= f.submit '      登 録      ',:class=>'btn btn-large' %>
    </div>
  </div>
<% end %>
