<div id="phoneRow" class="row unit-bg unit-block">
  <div class="accordion" id="accordion">
    <% @musers.each do |muser| %>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=muser[:id]%>" >
            <%= muser[:user_name] %>
          </a>
        </div>
        <div id="collapse<%=muser[:id]%>" class="accordion-body collapse">
          <div class="accordion-inner">
            <% if !muser.mcompany.blank? %>
              <div class="label">会社名</div>
              <%= muser.mcompany[:company_name] %>
            <% end %>
            <div class="label">メールアドレス</div>
            <%= muser[:mail] %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div id="pcRow" class="row unit-bg unit-block">
  <table id="sort" class="table table-striped table-bordered table-condensed">
    <tr>
      <th class="span1">ID</th>
      <th class="span2">ユーザー名</th>
      <th class="span2">メールアドレス</th>
      <th class="span1">登録日</th>
      <th class="span1">最終ログイン</th>
      <th class="span1">ログイン回数</th>
      <th class="span1"></th>
      <th class="span1"></th>
    </tr>
    <% @musers.each do |muser| %>
      <tr>
        <td><%= muser[:id] %></td>
        <% user = User.where(:email => muser.mail).first %>
        <td><%= muser[:user_name] %></td>
        <td><%= muser[:mail] %></td>
        <td><%= muser[:created_at].strftime '%Y/%m/%d' %></td>
        <td><%= user[:last_sign_in_at].strftime '%Y/%m/%d' if user && user[:last_sign_in_at] %></td>
        <td><%= user[:sign_in_count]  if user %></td>
        <td><%= link_to '修正', edit_muser_path(muser[:id]) %></td>
        <td><%= link_to '削除', muser, :method => :delete, :data => { :confirm => '削除してよろしいですか？' } %></td>
        
      </tr>
    <% end %>
  </table>
</div>
    
<style>
  th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  } 
</style>

<script>
  // iPhone/iPad/iPod、Android
  if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
  || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
    var pcRow = document.getElementById("pcRow");
    pcRow.parentNode.removeChild(pcRow);
  }else{
    //remove accordion
    var phoneRow = document.getElementById("phoneRow");
    phoneRow.parentNode.removeChild(phoneRow);
  }
  
  new Tablesort(document.getElementById('sort'));
</script>
