<div class="container-fluid">
  <div class="span12">
    <div class="row unit-bg unit-block">
      <div class="unit">
        <legend>
          <img src="/assets/app/img/glyphicons_248_asterisk.png" />
          ユーザー一覧
        </legend>     
        <%= simple_form_for @muser, :url=>{:action => :search}, :html => {:class => 'form-horizontal'  }, :remote => true do |f| %>
          <div class="row span11">
            <%= f.input :user_div, :collection=>@user_divs, :as => :radio_buttons,:label_method => :last ,:value_method => :first %>
          </div>             
          <div class="row span11" style="padding-top:20px;">
            <div class="actions pull-right">
              <%= f.submit '      検 索      ',:class=>'btn btn-large' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="musers">
       <%= render 'search_result' %>
    </div>
  </div>  
</div>             