<%= simple_form_for(@mcompanytype) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :name %>
    <%= f.input :another_name %>
    <%= f.input :created_by %>
    <%= f.input :updated_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
