<h1>Listing mcompanytypes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Another name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcompanytypes.each do |mcompanytype| %>
  <tr>
    <td><%= mcompanytype.id %></td>
    <td><%= mcompanytype.name %></td>
    <td><%= mcompanytype.another_name %></td>
    <td><%= mcompanytype.created_by %></td>
    <td><%= mcompanytype.updated_by %></td>
    <td><%= link_to 'Show', mcompanytype %></td>
    <td><%= link_to 'Edit', edit_mcompanytype_path(mcompanytype) %></td>
    <td><%= link_to 'Destroy', mcompanytype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcompanytype', new_mcompanytype_path %>
