<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @mcompanytype.id %>
</p>

<p>
  <b>Name:</b>
  <%= @mcompanytype.name %>
</p>

<p>
  <b>Another name:</b>
  <%= @mcompanytype.another_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @mcompanytype.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @mcompanytype.updated_by %>
</p>


<%= link_to 'Edit', edit_mcompanytype_path(@mcompanytype) %> |
<%= link_to 'Back', mcompanytypes_path %>
