<%= form_for(@mworkgroup) do |f| %>
  <% if @mworkgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mworkgroup.errors.count, "error") %> prohibited this mworkgroup from being saved:</h2>

      <ul>
      <% @mworkgroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
