<h1>Listing mworkgroups</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mworkgroups.each do |mworkgroup| %>
  <tr>
    <td><%= link_to 'Show', mworkgroup %></td>
    <td><%= link_to 'Edit', edit_mworkgroup_path(mworkgroup) %></td>
    <td><%= link_to 'Destroy', mworkgroup, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mworkgroup', new_mworkgroup_path %>
