<%= simple_form_for(@tcheckbytopic) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id %>
    <%= f.input :mcheck_id %>
    <%= f.input :ttopic_id %>
    <%= f.input :name %>
    <%= f.input :created_by %>
    <%= f.input :updated_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
