<h1>Listing tcheckbytopics</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Mcheck</th>
    <th>Ttopic</th>
    <th>Name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tcheckbytopics.each do |tcheckbytopic| %>
  <tr>
    <td><%= tcheckbytopic.id %></td>
    <td><%= tcheckbytopic.mcheck_id %></td>
    <td><%= tcheckbytopic.ttopic_id %></td>
    <td><%= tcheckbytopic.name %></td>
    <td><%= tcheckbytopic.created_by %></td>
    <td><%= tcheckbytopic.updated_by %></td>
    <td><%= link_to 'Show', tcheckbytopic %></td>
    <td><%= link_to 'Edit', edit_tcheckbytopic_path(tcheckbytopic) %></td>
    <td><%= link_to 'Destroy', tcheckbytopic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tcheckbytopic', new_tcheckbytopic_path %>
