<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @tcheckbytopic.id %>
</p>

<p>
  <b>Mcheck:</b>
  <%= @tcheckbytopic.mcheck_id %>
</p>

<p>
  <b>Ttopic:</b>
  <%= @tcheckbytopic.ttopic_id %>
</p>

<p>
  <b>Name:</b>
  <%= @tcheckbytopic.name %>
</p>

<p>
  <b>Created by:</b>
  <%= @tcheckbytopic.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @tcheckbytopic.updated_by %>
</p>


<%= link_to 'Edit', edit_tcheckbytopic_path(@tcheckbytopic) %> |
<%= link_to 'Back', tcheckbytopics_path %>
