
<ul class="nav nav-list">				
<%- if controller_name != 'sessions' && controller_name != 'welcome' %>
  <li><%= link_to "ログイン", '/sign_in' %></li>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'users' %>
  <li><%= link_to "協力会社様　新規登録の方はこちら", new_user_path %></li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <li><%= link_to "パスワードをお忘れの方はこちら", '/forgot_password' %></li>
<% end -%>
<!-- 
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
<% end -%> -->
<ul>