<%= form_for(@tworkbycomp) do |f| %>
  <% if @tworkbycomp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tworkbycomp.errors.count, "error") %> prohibited this tworkbycomp from being saved:</h2>

      <ul>
      <% @tworkbycomp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
