<h1>Listing tworkbycomps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tworkbycomps.each do |tworkbycomp| %>
  <tr>
    <td><%= link_to 'Show', tworkbycomp %></td>
    <td><%= link_to 'Edit', edit_tworkbycomp_path(tworkbycomp) %></td>
    <td><%= link_to 'Destroy', tworkbycomp, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tworkbycomp', new_tworkbycomp_path %>
