<%= form_for(@tuserbycomp) do |f| %>
  <% if @tuserbycomp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tuserbycomp.errors.count, "error") %> prohibited this tuserbycomp from being saved:</h2>

      <ul>
      <% @tuserbycomp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
