<h1>Listing tuserbycomps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tuserbycomps.each do |tuserbycomp| %>
  <tr>
    <td><%= link_to 'Show', tuserbycomp %></td>
    <td><%= link_to 'Edit', edit_tuserbycomp_path(tuserbycomp) %></td>
    <td><%= link_to 'Destroy', tuserbycomp, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tuserbycomp', new_tuserbycomp_path %>
