<%= simple_form_for @mbrand, :html => {:class => 'form-horizontal'  } do |f| %>
  <% if @mbrand && @mbrand.errors && @mbrand.errors.any? %>
    <div id="error_explanation" style="background-color:#FFCCCC">
      <ul>
      <% @mbrand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row span12">
    <%= f.input :brand_name,:required=>true %>
  </div>
  <div class="row span10">
    
    <div class="actions pull-right">
      <%= f.submit '      登 録      ',:class=>'btn btn-large' %>
    </div>
  </div>
<% end %>
