<div class="container-fluid">
  <div class="span12">
    <div class="row unit-bg unit-block">
      <div class="unit">
        <legend>
          <img src="assets/app/img/glyphicons_248_asterisk.png" />
          ブランド一覧
        </legend>
      </div>
    </div>
  </div>
  <div id="phoneRow" class="row unit-bg unit-block">
    <div class="accordion" id="accordion">
      <% @mbrands.each do |mbrand| %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=mbrand[:id]%>" >
              <%= mbrand[:brand_name] %>
            </a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="pcRow" class="row unit-bg unit-block">
    <table id="sort" class="table table-striped table-bordered table-condensed">
      <tr>
        <th class="span1">ID</th>
        <th class="span2">ブランド名</th>
        <th class="span1">登録日</th>
        <th class="span1"></th>
        <th class="span1"></th>
      </tr>
      <% @mbrands.each do |mbrand| %>
        <tr>
          <td><%= mbrand[:id] %></td>
          <td><%= mbrand[:brand_name] %></td>
          <td><%= mbrand[:created_at].strftime '%Y/%m/%d' %></td>
          <td><%= link_to '修正', edit_mbrand_path(mbrand[:id]) %></td>
          <td><%= link_to '削除', mbrand, :method => :delete, :data => { :confirm => '削除してよろしいですか？' } %></td>
        
        </tr>
      <% end %>
    </table>
  </div>
</div>
<style>
  th.sort-header {
  cursor:pointer;
  }
th.sort-header::-moz-selection,
th.sort-header::selection {
  background:transparent;
  }
table th.sort-header:after {
  content:'';
  float:right;
  margin-top:7px;
  border-width:0 4px 4px;
  border-style:solid;
  border-color:#404040 transparent;
  visibility:hidden;
  }
table th.sort-header:hover:after {
  visibility:visible;
  }
table th.sort-up:after,
table th.sort-down:after,
table th.sort-down:hover:after {
  visibility:visible;
  opacity:0.4;
  }
table th.sort-up:after {
  border-bottom:none;
  border-width:4px 4px 0;
  } 
</style>

<script>
  // iPhone/iPad/iPod、Android
  if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
  || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
    var pcRow = document.getElementById("pcRow");
    pcRow.parentNode.removeChild(pcRow);
  }else{
    //remove accordion
    var phoneRow = document.getElementById("phoneRow");
    phoneRow.parentNode.removeChild(phoneRow);
  }
  
  new Tablesort(document.getElementById('sort'));
</script>
