<div class="container-fluid">
  <div class="row-fluid unit-block">
    <div class="span12 unit-bg">
      <div class="unit">
        <legend>
          <img src="/assets/app/img/glyphicons_248_asterisk.png" />
          ブランドの登録
        </legend>
          <%= render 'popup_form' %>
      </div>
    </div>
  </div>
</div>