<%= form_for(@texpertbycomp) do |f| %>
  <% if @texpertbycomp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@texpertbycomp.errors.count, "error") %> prohibited this texpertbycomp from being saved:</h2>

      <ul>
      <% @texpertbycomp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
