<h1>Listing texpertbycomps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @texpertbycomps.each do |texpertbycomp| %>
  <tr>
    <td><%= link_to 'Show', texpertbycomp %></td>
    <td><%= link_to 'Edit', edit_texpertbycomp_path(texpertbycomp) %></td>
    <td><%= link_to 'Destroy', texpertbycomp, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Texpertbycomp', new_texpertbycomp_path %>
