<%= form_for(@mgeneral) do |f| %>
  <% if @mgeneral.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mgeneral.errors.count, "error") %> prohibited this mgeneral from being saved:</h2>

      <ul>
      <% @mgeneral.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
