<h1>Listing mgenerals</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mgenerals.each do |mgeneral| %>
  <tr>
    <td><%= link_to 'Show', mgeneral %></td>
    <td><%= link_to 'Edit', edit_mgeneral_path(mgeneral) %></td>
    <td><%= link_to 'Destroy', mgeneral, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mgeneral', new_mgeneral_path %>
