<%= form_for(@tcategorybytopic) do |f| %>
  <% if @tcategorybytopic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tcategorybytopic.errors.count, "error") %> prohibited this tcategorybytopic from being saved:</h2>

      <ul>
      <% @tcategorybytopic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
