<h1>Listing tcategorybytopics</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tcategorybytopics.each do |tcategorybytopic| %>
  <tr>
    <td><%= link_to 'Show', tcategorybytopic %></td>
    <td><%= link_to 'Edit', edit_tcategorybytopic_path(tcategorybytopic) %></td>
    <td><%= link_to 'Destroy', tcategorybytopic, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tcategorybytopic', new_tcategorybytopic_path %>
