協力会社情報が登録されました

協力会社名　　：<%= @mcompany.company_name %>
代表者氏名　　：<%= @mcompany.represent_name %>
作業領域　　　：<%= @mcompany.tworkareas.join("/") if @mcompany.tworkareas  %>
得意分野　　　：<%= @mcompany.texpertises.join("/") if @mcompany.texpertises %>


以下のリンクよりログインして
詳細をご確認下さい

<%= mcompany_url(@mcompany)  %>
