<div class="container">
<div class="row">
			<div class="span4 well unit-bg" >
<legend>新規ユーザー登録 </legend>
 
<%= form_for @user do |f| %>
 
<% if @user.errors.any? %>
 <div id="error_explanation" style="background-color:#FFCCCC">
 <ul>
 <% @user.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
 </div>
<% end %>
 
 
 <div class="field">
 <%= f.label :email %><br />
 <%= f.text_field :email %><br />
 <%= f.label :password %><br />
 <%= f.password_field :password %><br />
 <%= f.label :password_confirmation %><br />
 <%= f.password_field :password_confirmation %><br />
 </div>
 <div class="actions">
 <%= f.submit %>
 </div>
<% end %>

<%= render "devise/shared/links" %>
</div></div>
</div>
