<div class="container">
<div class="row">
			<div class="span3 well unit-bg" >
<legend>パスワード変更 </legend>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if @user.errors.any? %>
 <div id="error_explanation" style="background-color:#FFCCCC">
 <ul>
 <% @user.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
 </div>
<% end %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "新しいパスワード" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "新しいパスワード（再入力）" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "変更する" %></div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
</div>
