<div class="container">
<div class="row">
			<div class="span4 well unit-bg" >
<legend>パスワードリセット </legend>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <% if @user.errors.any? %>
 <div id="error_explanation" style="background-color:#FFCCCC">
 <ul>
 <% @user.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
 </div>
<% end %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "リセット" %></div>
<% end %>

<ul class="nav nav-list">       
<%- if devise_mapping.registerable? && controller_name != 'registrations' && controller_name != 'users' %>
  <li><%= link_to "新規登録の方はこちら", new_user_path %></li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <li><%= link_to "パスワードをお忘れの方はこちら", '/forgot_password' %></li>
<% end -%>
<ul>

</div>
</div>
</div>