<div class="container page-content">
<%= simple_form_for @tfilebytopic, :html => { :multipart => true, :id => "fileupload"  } do |f| %>
  
  <div class="row">
      <div class="span12">
        <%= f.hidden_field :ttopic_id %>
        <%= f.file_field :upload_file %>
        <div class="unit actions ">
        <%= f.submit :value=>'upload', :class=>'btn btn-large' %>
      </div>
      </div>
    </div>
<% end %>
</div>


