<p id="notice"><%= notice %></p>

<%= @tfilebytopic.image_url %>

<%= image_tag @tfilebytopic.image_url,:size => '200x200' %>

<%= link_to 'Edit', edit_tfilebytopic_path(@tfilebytopic) %> |
<%= link_to 'Back', tfilebytopics_path %>
