<%= form_for(@mworkareasub) do |f| %>
  <% if @mworkareasub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mworkareasub.errors.count, "error") %> prohibited this mworkareasub from being saved:</h2>

      <ul>
      <% @mworkareasub.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
