<h1>Listing mworkareasubs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mworkareasubs.each do |mworkareasub| %>
  <tr>
    <td><%= link_to 'Show', mworkareasub %></td>
    <td><%= link_to 'Edit', edit_mworkareasub_path(mworkareasub) %></td>
    <td><%= link_to 'Destroy', mworkareasub, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mworkareasub', new_mworkareasub_path %>
