<h1>Listing mtopicuses</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Another name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mtopicuses.each do |mtopicuse| %>
  <tr>
    <td><%= mtopicuse.id %></td>
    <td><%= mtopicuse.name %></td>
    <td><%= mtopicuse.another_name %></td>
    <td><%= mtopicuse.created_by %></td>
    <td><%= mtopicuse.updated_by %></td>
    <td><%= link_to 'Show', mtopicuse %></td>
    <td><%= link_to 'Edit', edit_mtopicuse_path(mtopicuse) %></td>
    <td><%= link_to 'Destroy', mtopicuse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mtopicuse', new_mtopicuse_path %>
