<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @mtopicuse.id %>
</p>

<p>
  <b>Name:</b>
  <%= @mtopicuse.name %>
</p>

<p>
  <b>Another name:</b>
  <%= @mtopicuse.another_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @mtopicuse.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @mtopicuse.updated_by %>
</p>


<%= link_to 'Edit', edit_mtopicuse_path(@mtopicuse) %> |
<%= link_to 'Back', mtopicuses_path %>