<h1>Listing mcategories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Another name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcategories.each do |mcategory| %>
  <tr>
    <td><%= mcategory.name %></td>
    <td><%= mcategory.another_name %></td>
    <td><%= mcategory.created_by %></td>
    <td><%= mcategory.updated_by %></td>
    <td><%= link_to 'Show', mcategory %></td>
    <td><%= link_to 'Edit', edit_mcategory_path(mcategory) %></td>
    <td><%= link_to 'Destroy', mcategory, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcategory', new_mcategory_path %>
