<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @mcategory.name %>
</p>

<p>
  <b>Another name:</b>
  <%= @mcategory.another_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @mcategory.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @mcategory.updated_by %>
</p>


<%= link_to 'Edit', edit_mcategory_path(@mcategory) %> |
<%= link_to 'Back', mcategories_path %>
