<div class="container">
	<div class="row">
			<div class="span4 well unit-bg" >
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<legend>     </legend>
					<p><img src="/logo.png" width="100%" /></p>
					<div class="input-prepend">
					  <%= f.label :email %>
            <%= f.email_field :email,:placeholder => 'xxx@xxxxxxxx.xxx',:style=>'width:90%'  %>
          </div>
          <div class="input-prepend">
            <%= f.label :password %>
            <%= f.password_field :password,:style=>'width:90%'  %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="input-prepend">
              <table>
                <tr>
                  <td><%= f.check_box :remember_me %></td>
                  <td><%= f.label :remember_me %></td>
                </tr>
              </table>
            </div>
					<% end -%>
					
        <div><%= f.submit "Login" %></div>
				<% end %>
				<%= render "devise/shared/links" %>
			</div>
	</div>
</div>


