<%= form_for(@mexpertise) do |f| %>
  <% if @mexpertise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mexpertise.errors.count, "error") %> prohibited this mexpertise from being saved:</h2>

      <ul>
      <% @mexpertise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
