<h1>Listing mexpertises</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mexpertises.each do |mexpertise| %>
  <tr>
    <td><%= link_to 'Show', mexpertise %></td>
    <td><%= link_to 'Edit', edit_mexpertise_path(mexpertise) %></td>
    <td><%= link_to 'Destroy', mexpertise, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mexpertise', new_mexpertise_path %>
