<%= simple_form_for @mcompany, :html => {:class => 'form-horizontal'  } do |f| %>
  <div class="row span5">
    <%= f.hidden_field :muser_id %>
    <div class="control-group">
      <%= f.label :company_type %>
      <div class="controls">
        <label><%= f.radio_button :company_type, 1, :checked => "checked" %> クライアント</label>
        <label><%= f.radio_button :company_type, 0 %> 製作会社</label>
        <label><%= f.radio_button :company_type, 2 %> 印刷会社</label>
      </div>
    </div>
    
    <%= f.input :company_name,:required=>true %>

  <div class="actions pull-right">
    <%= f.submit '      登 録      ',:class=>'btn btn-large' %>
  </div>
<% end %>

<div class="row span12">
</div>

<script type='text/javascript'>//<![CDATA[ 

$(function(){
$("[data-behaviour~='datepicker']").datepicker({
    "language": "ja",
    "format": "yyyy/mm/dd",
    "autoclose": true
});
});//]]>
</script>      
