<div>
  <span class="label">名前</span>  <%= text_field_tag 'tstaffs[][name]', '',:class=>'span2' %>
  <span class="label">かな</span>  <%= text_field_tag 'tstaffs[][kana]', '',:class=>'span2' %>
  <span class="label">メール</span>  <%= text_field_tag 'tstaffs[][mail]', '',:class=>'span3' %>
  <%= link_to_function '削除','$(this.parentNode.parentNode).remove();',  :remote => true ,:class=>"btn btn-danger" %>
</div>

