<div>
  <pre><span class="label">名前</span>  <%= select_tag 'ajicom_users[]', options_from_collection_for_select(@params[:musers], "id", "user_name" ) %> <%= link_to_function '削除','$(this.parentNode.parentNode).remove();',  :remote => true ,:class=>"btn btn-danger" %></pre>
</div>

