<%= simple_form_for @mcompany, :url=>{:action => :popup}, 
:html => {:class => 'form-horizontal'  } , :remote => true do |f| %>
  <div class="row span5">
    <%= f.hidden_field :muser_id %>
    <%= f.hidden_field :company_type %>
    <%= f.input :company_name,:required=>true %>
  </div>

  <div class="actions pull-right">
    <%= f.submit '      登 録      ',:class=>'btn btn-large' %>
  </div>
<% end %>

<script type='text/javascript'>//<![CDATA[ 

$(function(){
$("[data-behaviour~='datepicker']").datepicker({
    "language": "ja",
    "format": "yyyy/mm/dd",
    "autoclose": true
});
});//]]>
</script>      

