<%= simple_form_for @mcompany, :url=>{:action => :search}, :html => {:class => 'form-horizontal'  }, :remote => true do |f| %>


  <% @mworkgroups.each do |mworkgroup| %>
    <div class="row span11">
      <div>
        <% if mworkgroup.id == 1 %>
          <i class="icon-pencil"></i>
        <% elsif mworkgroup.id == 2 %>
          <i class="icon-facetime-video"></i>
        <% else %>
          <i class="icon-th"></i>
        <% end %>
        <%= mworkgroup.name %>
      </div>
      <% mworkgroup.mworkareas.each do |mworkarea| %>
        
        <% if mworkarea.mworkareasubs.count > 0 %>
          
            <% mworkarea.mworkareasubs.each do |mworkareasub| %>
              <div class="<%= mworkareasub[:class_string] + ' btn btn-mini fileinput-button' %>" data-toggle="buttons-checkbox">
                <span><%= f.check_box :tworkareasubs, {:name => "tworkareasubs[#{mworkareasub.id}]"}, mworkareasub.id, mworkareasub[:btn_active] %> <%= mworkareasub.name %></span>
              </div>
            <% end %>
          
        <% else %>
          <div class="<%= mworkarea[:class_string] + ' btn btn-mini fileinput-button' %>" data-toggle="buttons-checkbox">
            <span><%= f.check_box :tworkareas, {:name => "tworkareas[#{mworkarea.id}]" }, mworkarea.id, mworkarea[:btn_active] %> <%= mworkarea.name %></span>
          </div>
        <% end %>
        
      <% end %>
    </div>
  <% end %>
  <div class="row span11">
    <hr>
    <div>
      <i class="icon-tag"></i>制作ジャンル
    </div>
    <% @mexpertises.each do |mexpertise| %>
      <div class="<%= mexpertise[:class_string] + ' btn btn-mini fileinput-button' %>" data-toggle="buttons-checkbox">
        <span><%= f.check_box :texpertises, {:name => "texpertises[#{mexpertise.id}]" }, mexpertise.id, mexpertise[:btn_active] %> <%= mexpertise.name %></span>
      </div>
    <% end %>
  </div>
  <div class="row span11" style="padding-top:20px;">
    <div class="pull-left">
      <%= f.input :company_name,:input_html=>{:style=>'width:80%;'} %>
    </div>
    <div class="actions pull-right">
      <%= f.submit '      検 索      ',:class=>'btn btn-large' %>
    </div>
    <%= f.text_field :historyback,:type=>"hidden" %>
  </div>
<% end %>

<script type='text/javascript'>//<![CDATA[ 
  $('.fileinput-button').on('click', function(event){
    var input = $(this).find('input[type=hidden]');
    
    input.val(1);
    
    var activeNodeList = $('.active');
    
    for (var i = 0; i < activeNodeList.length; i++){
      if ($(this)[0] == activeNodeList[i]){
        input.val(0);
        break;
      }
    }
  });
//]]>
</script>