<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% topic_count = 0 %>
    <% @mcompanies.each do |mcompany| %>
    <% if topic_count > 2 %>
      <% topic_count = 0 %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% end %>     
      <li class="span4">
        <div class="thumbnail unit-bg">
          <div class="caption">
            <h4><%= mcompany.company_name %></h4>
            <% if mcompany.account_opened == '1' %>
                <span class="label label-info">口座</span>
              <% end %>
              <% if mcompany.contracted == '1' %>
                <span class="label label-important">契約書</span>
              <% end %>
            <p><%= link_to mcompany.web_url, mcompany.web_url if mcompany.web_url %></p>
            <p><%= mcompany.address %></p>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id == 1 %>
                  <span class="label label-info"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id == 1 %>
                  <span class="label label-info"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id == 2 %>
                  <span class="label label-important"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id == 2 %>
                  <span class="label label-important"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id > 2 %>
                  <span class="label label-success"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id > 2 %>
                  <span class="label label-success"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.texpertbycomps.each do |texpert| %>
              <span class="label label-warning"><%= texpert.mexpertise.name %></span>
            <% end %>
            <span class="help-block"><small></small></span>
            <span class="view-deal">
              <%= link_to "詳細を見る",mcompany_path(mcompany.id),:class=>'btn btn-success' %>
            </span>
          </div>
        </div>
      </li>
      <% topic_count += 1 %>
      <% end %>
    </ul>
  </div>
  
</div>


