<div class="container-fluid">
  <div class="row-fluid unit-block">
    <div class="span12 unit-bg">
      <div class="unit">
        <legend>
          <img src="/assets/app/img/glyphicons_248_asterisk.png" />
          会社情報の登録・修正
        </legend>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

