<div class="container-fluid">
  <div class="row unit-block">
    <div class="span12 unit-bg">
      <div class="unit">
        <legend>
          <img src="assets/app/img/glyphicons_248_asterisk.png" />
          協力会社一覧
          <div class="pull-right">
            <button type="submit" class="btn btn-primary noprint" onclick="print(); location.reload();">
            印刷する</button>
          </div>
        </legend>
      </div>
    </div>
  </div>
  <div id="phoneRow" class="row">
  	<div class="span12 unit-bg">
  		<div class="accordion" id="accordion">
  			<% @mcompanies.each do |mcompany| %>
				  <div class="accordion-group">
				    <div class="accordion-heading">
				      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=mcompany[:id]%>" >
				        <%= mcompany[:company_name] %>
				      </a>
				    </div>
				    <div id="collapse<%=mcompany[:id]%>" class="accordion-body collapse">
				      <div class="accordion-inner">
				        <div class="label">担当者名</div>
                <% if mcompany.tstaffbycomps.count > 0 %>
                  <%= mcompany.tstaffbycomps[0].name %>
                <% end %>
                <div class="label">メール</div>
                <% if mcompany.tstaffbycomps.count > 0 %>
                  <%= mcompany.tstaffbycomps[0].mail %>
                <% end %>
				        <div class="label">住所</div>
                <%= mcompany[:address] %>
                <% if !mcompany[:web_url].blank? %>
                  <div class="label">Web</div>
                  <%=link_to mcompany[:web_url] , mcompany[:web_url] %>
                <% end %>
                <div>
                  <% if mcompany[:account_opened] == '1' %>
                    <span class="label label-info">口座</span>
                  <% end %>
                  <% if mcompany[:contracted] == '1' %>
                    <span class="label label-important">契約書</span>
                  <% end %>
                </div>
				      </div>
				    </div>
				  </div>
			  <% end %>
			</div>
		</div>
	</div>
 	<div id="pcRow" class="row">
 	  <% muser = Muser.where(:mail=>User.current_user.email).first %>
    <div class="span12 unit-bg">
      <table id="sort" class="table table-striped table-bordered table-condensed">
			  <tr>
			    <th class="span1">種別</th>
			    <th class="span2">会社名</th>
			    <th class="span1">担当者名</th>
			    <th class="span1">メール</th>
			    <th class="span2">住所</th>
			    <th class="span2">電話番号</th>
			    <th class="noprint span1">Web</th>
			    <th>口座</th>
			    <th>契約書</th>
			    <th class="noprint"></th>
			    <th class="noprint"></th>
			    <% if muser.user_div == '3'%>
			      <th class="noprint"></th>
			    <% end %>
			  </tr>
			<% @mcompanies.each do |mcompany| %>
			  <tr>
			  	<td>
			  		<% if mcompany[:company_type] == 1 %>
			  		<%    @company_type_name = "client" %>
			  		<% elsif mcompany[:company_type] == 2 %>
			  		<%    @company_type_name = "印刷" %>
			  		<% else %>
			  		<%    @company_type_name = "制作" %>
			  		<% end %>
			  		<%= @company_type_name %>
			    </td>
			  	<td><%= mcompany[:company_name] %></td>
			  	<td>
			  	  <% if mcompany.tstaffbycomps.count > 0 %>
			  	   <%= mcompany.tstaffbycomps[0].name %>
			  	  <% end %>
			  	</td>
			  	<td>
            <% if mcompany.tstaffbycomps.count > 0 %>
             <%= mcompany.tstaffbycomps[0].mail %>
            <% end %>
          </td>
			  	<td><%= mcompany[:address] %></td>
			  	<td><%= mcompany[:tel_no_1] %></td>
			  	<td class="noprint">
			  		<% if !mcompany[:web_url].blank? %>
			  		<%=link_to 'Link', mcompany[:web_url] %>
			  		<% end %></td>
			  	<td>
			  	  <% if mcompany[:account_opened] == '1' %>
			  	   あり
			  	  <% end %>
			  	</td>
			  	<td>
            <% if mcompany[:contracted] == '1' %>
             あり
            <% end %>
          </td>
			    <td class="noprint"><div ><%= link_to '詳細', mcompany,:class=>"btn btn-success" %></div></td>
			    <td class="noprint"><div ><%= link_to '作品',{:controller => "ttopics", :action => "history", :mcompany_id => mcompany.id},:class=>"btn btn-info" %></div></td>
			    <% if muser.user_div == '3'%>
 			      <td class="noprint"><div ><%= link_to '編集', edit_mcompany_path(mcompany),:class=>"btn btn-warning" %></div></td>
			      <td class="noprint"><div ><%= link_to '削除', mcompany, :method => :delete, :data => { :confirm => '削除してよろしいですか？' },:class=>"btn btn-danger" %></div></td>
			    <% end %>
			  </tr>
			<% end %>
			</table>
			</div>
    </div>
  </div>
  <div style="height:100px;">
</div>
    
    <style>
    	th.sort-header {
		  cursor:pointer;
		  }
		th.sort-header::-moz-selection,
		th.sort-header::selection {
		  background:transparent;
		  }
		table th.sort-header:after {
		  content:'';
		  float:right;
		  margin-top:7px;
		  border-width:0 4px 4px;
		  border-style:solid;
		  border-color:#404040 transparent;
		  visibility:hidden;
		  }
		table th.sort-header:hover:after {
		  visibility:visible;
		  }
		table th.sort-up:after,
		table th.sort-down:after,
		table th.sort-down:hover:after {
		  visibility:visible;
		  opacity:0.4;
		  }
		table th.sort-up:after {
		  border-bottom:none;
		  border-width:4px 4px 0;
  		}	
    </style>
    
    <script>
		// iPhone/iPad/iPod、Android
		if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
		|| navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
			var pcRow = document.getElementById("pcRow");
			pcRow.parentNode.removeChild(pcRow);
		}else{
			//remove accordion
			var phoneRow = document.getElementById("phoneRow");
			phoneRow.parentNode.removeChild(phoneRow);
		}
		
  		new Tablesort(document.getElementById('sort'));

	</script>
