<div class="container-fluid">
  <div class="row-fluid unit-block unit-bg">
    <div class="span12">
        <div class="unit">
          <legend>
            <img src="/assets/app/img/glyphicons_248_asterisk.png" />
            <%= @mcompany.company_name %>
          </legend> 
          <% if @mcompany.account_opened == '1' %>
            <span class="label label-info">口座</span>
          <% end %>
          <% if @mcompany.contracted == '1' %>
            <span class="label label-important">契約書</span>
          <% end %>
          <% if @mcompany.division == '0' %>
            <span class="label">法人</span>
          <% else %>  
            <span class="label label-warning">個人</span>
          <% end %>   
        </div>
        
        <div class="row span6 control-group">
          <%= form_for @mcompany do |f|%>
            <label class="label"><%= f.label :company_type %></label>
            <label class="controls"><%= Mcompanytype.find(@mcompany.company_type).name %></label>
            <label class="label"><%= f.label :company_kana %></label>
            <label class="controls"><%= @mcompany.company_kana %></label>
            <label class="label"><%= f.label :represent_name %></label>
            <label class="controls"><%= @mcompany.represent_name %></label>
            <label class="label"><%= f.label :represent_kana %></label>
            <label class="controls"><%= @mcompany.represent_kana %></label>
   
            <label class="label"><%= f.label :establish_date %></label>
            <label class="controls"><%= @mcompany.establish_date.strftime "%Y/%m/%d" if !@mcompany.establish_date.blank? %></label>
            
            <label class="label"><%= f.label :capital %></label>
            <label class="controls"><%= @mcompany.capital %>万円</label>
            
            <label class="label"><%= f.label :zip_code %></label>
            <label class="controls"><%= @mcompany.zip_code %></label>
            
            <label class="label"><%= f.label :address %></label>
            <label class="controls"><pre><%= @mcompany.address %></pre></label>
            
            <label class="label"><%= f.label :station %></label>
            <label class="controls"><%= @mcompany.station %></label>
            
            <label class="label"><%= f.label :employees %></label>
            <label class="controls"><%= @mcompany.employees %></label>
            
            <label class="label"><%= f.label :web_url %></label>
            <label class="controls"><%= link_to @mcompany.web_url,@mcompany.web_url if !@mcompany.web_url.blank? %></label>
            
            <label class="label"><%= f.label :tel_no_1 %></label>
            <label class="controls"><%= @mcompany.tel_no_1 %></label>
            
            <label class="label"><%= f.label :fax_no_1 %></label>
            <label class="controls"><%= @mcompany.fax_no_1 %></label>
            
            <label class="label"><%= f.label :tel_no_2 %></label>
            <label class="controls"><%= @mcompany.tel_no_2 %></label>
            
            <label class="label"><%= f.label :fax_no_2 %></label>
            <label class="controls"><%= @mcompany.fax_no_2 %></label>
            
            <label class="label"><%= f.label :remarks %></label>
            <label class="controls"><pre><%= @mcompany.remarks %></pre></label>
          
          <% end %>
        </div>
        
        <div class="row span4">
          <div class="well">
            <label><strong>作業領域</strong></label>
            <% @mcompany.tworkbycomps.each do |twork| %>
              <% if !twork.mworkarea.blank? %>
                <label><%= twork.mworkarea.name %></label>
              <% elsif !twork.mworkareasub.blank? %>
                <label><%= twork.mworkareasub.name %></label>
              <% end %>
            <% end %>
          </div>
          <div class="well">
            <label><strong>得意分野</strong></label>
            <% @mcompany.texpertbycomps.each do |texpert| %>
              <label><%= texpert.mexpertise.name %></label>
            <% end %>
          </div>
          
          <div class="well">
            <label><strong>担当者</strong></label>
            <% @mcompany.tstaffbycomps.each do |tstaff| %>
              <label><%= tstaff.name %></label>
              <label><%= tstaff.kana %></label>
              <label><%= tstaff.mail %></label>
            <% end %>
          </div>
          
          <div class="well">
            <label><strong>アジコム担当者</strong></label>
            <% @mcompany.tuserbycomps.each do |tuser| %>
              <label><%= tuser.muser.user_name %></label>
              <label><%= tuser.muser.user_kana %></label>
              <label><%= tuser.muser.mail %></label>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <ul class="pager">
      <li class="prev">
        <%= link_to '情報を修正する', edit_mcompany_path(@mcompany) %>
        </li>  
    </ul>
    
    <div class="row-fluid unit-block unit-bg">
      <div class="span12">
        <div class="unit">
              <legend>
                  <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                  掲載作品</legend>
        </div>
      </div>
    
      <div id="phoneRow" class="row span11">
        <div class="accordion" id="accordion">
          <% @ttopics.each do |ttopic| %>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= ttopic.id %>" >
                  <%= ttopic.title %>
                </a>
              </div>
              <div id="collapse<%=ttopic.id%>" class="accordion-body collapse">
                <div class="accordion-inner">
                  <%= ttopic.topic_type %><br>
                  <%= ttopic.upload_date.strftime "%Y/%m/%d" if !ttopic.upload_date.blank? %><br>
                  <span class="btn btn-success">
                    <%= link_to '詳細', ttopic, :style => "color:white;" %>
                  </span>
                  <span class="btn btn-warning cancel">
                    <%= link_to '修正', edit_ttopic_path(ttopic), :style => "color:white;" %>
                  </span>
                  <span class="btn btn-danger delete">
                    <%= link_to '削除', ttopic, :style => "color:white;", :method => :delete, :data => { :confirm => '削除してよろしいですか？' } %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <%= will_paginate @ttopics, :renderer => BootstrapPagination::Rails %>
      </div>
      <div id="pcRow" class="row span11" style="padding-bottom:40px;">
        <table id="sort" class="table table-striped table-bordered table-condensed">
          <tr>
            <th class="span3">タイプ</th>
            <th class="span2">日付</th>
            <th class="span6">件名</th>
            <th></th>
          </tr>
          <% @ttopics.each do |ttopic| %>
          <tr>
            <td><%= ttopic.topic_type %></td>
            <td><%= ttopic.upload_date.strftime "%Y/%m/%d" if !ttopic.upload_date.blank? %></td>
            <td><%= ttopic.title %></td>
            <td>
              <span class="btn btn-success">
                <%= link_to '詳細', ttopic, :style => "color:white;" %>
              </span>
            </td>
            
          </tr>
        <% end %>
        </table>
        <%= will_paginate @ttopics, :renderer => BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
  <div class="row-fluid unit">
  </div>
</div>

   <style>
      th.sort-header {
      cursor:pointer;
      }
    th.sort-header::-moz-selection,
    th.sort-header::selection {
      background:transparent;
      }
    table th.sort-header:after {
      content:'';
      float:right;
      margin-top:7px;
      border-width:0 4px 4px;
      border-style:solid;
      border-color:#404040 transparent;
      visibility:hidden;
      }
    table th.sort-header:hover:after {
      visibility:visible;
      }
    table th.sort-up:after,
    table th.sort-down:after,
    table th.sort-down:hover:after {
      visibility:visible;
      opacity:0.4;
      }
    table th.sort-up:after {
      border-bottom:none;
      border-width:4px 4px 0;
      } 
    </style>
    
    <script>
    // iPhone/iPad/iPod、Android
    if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
    || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
      var pcRow = document.getElementById("pcRow");
      pcRow.parentNode.removeChild(pcRow);
    }else{
      //remove accordion
      var phoneRow = document.getElementById("phoneRow");
      phoneRow.parentNode.removeChild(phoneRow);
    }
    
      new Tablesort(document.getElementById('sort'));

  </script>

