﻿/* 

Theme: Dealstrap 1.0
Seller: https://wrapbootstrap.com/user/cristoforo
    
-------------------------------------------------- */

/* Button
-------------------------------------------------- */

.btn-topic {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-topic:hover{
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-topic:active,
.btn-topic.active,
.btn-topic.disabled,
.btn-topic[disabled] {
  color: #ffffff;
  background-color: #1f6377;
  *background-color: #2a85a0;
}

.btn-design {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-design:hover{
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}
.btn-design:active,
.btn-design.active,
.btn-design.disabled,
.btn-design[disabled] {
  color: #ffffff;
  background-color: #1f6377;
  *background-color: #2a85a0;
}

.btn-planning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-planning:hover{
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-planning:active,
.btn-planning.active,
.btn-planning.disabled,
.btn-planning[disabled] {
  color: #ffffff;
  background-color: #802420;
  *background-color: #a9302a;
}

.btn-others {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-others:hover{
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}
.btn-others:active,
.btn-others.active,
.btn-others.disabled,
.btn-others[disabled] {
  color: #ffffff;
  background-color: #387038;
  *background-color: #499249;
}

.btn-genre {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-genre:hover{
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-genre:active,
.btn-genre.active,
.btn-genre.disabled,
.btn-genre[disabled] {
  color: #ffffff;
  background-color: #ad6704;
  *background-color: #df8505;
}

.btn-topic.active
.btn-genre.active
.btn-others.active
.btn-planning.active
.btn-design.active {
  color: rgba(255, 255, 255, 0.75);
}

/* General
-------------------------------------------------- */
.page-content {
    margin-top: 19px;
}

.page-content h4 {
    color: #3BB0DB;
}

legend img {
    margin-bottom: 5px;
}

/* Navbar
-------------------------------------------------- */

.navbar-form {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar .nav {
    margin-right: 0px;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #51A351;
    color: #ffffff;
}

ul.signup li {
    margin-left: 4px;
}

ul.signup .dropdown-menu {
    padding: 10px;
}

ul.signup .dropdown-menu input {
    display: block;
}

/* Unit
-------------------------------------------------- */

.unit {
    padding: 19px;
}

.unit-block {
    margin-bottom: 20px;
}

.unit-bg {
    background: url('../img/itembg.png') top left repeat #fff;
    border: 3px solid #EFEFEF;
    -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
    -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
    box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
    border-radius: 0px;
}

.unit ul.nav-pills {
    margin-bottom: 0px;
}

/* Footer
-------------------------------------------------- */

.footer ul {
    margin-bottom: 0px;
}

.footer ul li {
    display: inline;
    margin-right: 10px;
}

/* Text Style
-------------------------------------------------- */

.text-center {
    text-align: center;
}

.text-strike {
    text-decoration: line-through;
}

.text-highlight-small {
    font-size: 24px;
    color: #FF9228;
}

.text-highlight-large {
    font-size: 30px;
    color: #FF9228;
}

/* Misc
-------------------------------------------------- */

#landing-page {
    padding-top: 15%;
}

.carousel {
    margin-bottom: 0px;
}

.firstrow td {
    border: none;
}

/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {
    .page-content .span6 {
        width: 530px;
    }

    .page-content .span3 {
        width: 272px;
    }

    .view-deal {
        margin-right: 4px;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 1200px) {
    .page-content .span6 {
        width: 420px;
    }

    .page-content .span3 {
        width: 222px;
    }

    .view-deal {
        display: block;
        margin-bottom: 10px;
    }
}

/* Tablet
------------------------- */
@media (max-width: 768px) {
    .login-input {
        width: 100%;
    }

    .view-deal {
        margin-right: 4px;
    }

    .footer {
        text-align: center;
    }

    .footer ul {
        float: none;
        margin-bottom: 10px;
    }
}