<%= form_for(@mworkarea) do |f| %>
  <% if @mworkarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mworkarea.errors.count, "error") %> prohibited this mworkarea from being saved:</h2>

      <ul>
      <% @mworkarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
