<h1>Listing mworkareas</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mworkareas.each do |mworkarea| %>
  <tr>
    <td><%= link_to 'Show', mworkarea %></td>
    <td><%= link_to 'Edit', edit_mworkarea_path(mworkarea) %></td>
    <td><%= link_to 'Destroy', mworkarea, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mworkarea', new_mworkarea_path %>
