<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% topic_count = 0 %>
    <% @mcompanies.each do |mcompany| %>
    <% if topic_count > 2 %>
      <% topic_count = 0 %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="span12">
    <ul class="thumbnails">
    <% end %>     
      <li class="span4">
        <div class="thumbnail unit-bg">
          <div class="caption">
            <h4><%= mcompany.company_name %></h4>
            <% if mcompany.account_opened == '1' %>
                <span class="label label-info">口座</span>
              <% end %>
              <% if mcompany.contracted == '1' %>
                <span class="label label-important">契約書</span>
              <% end %>
            <p><%= link_to mcompany.web_url, mcompany.web_url if mcompany.web_url %></p>
            <p><%= mcompany.address %></p>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id == 1 %>
                  <span class="label label-info"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id == 1 %>
                  <span class="label label-info"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id == 2 %>
                  <span class="label label-important"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id == 2 %>
                  <span class="label label-important"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.tworkbycomps.each do |twork| %>
              <% if twork.mworkarea %>
                <% if twork.mworkarea.mworkgroup_id > 2 %>
                  <span class="label label-success"><%= twork.mworkarea.name %></span>
                <% end %>
              <% elsif twork.mworkareasub %>
                <% if twork.mworkareasub.mworkarea.mworkgroup_id > 2 %>
                  <span class="label label-success"><%= twork.mworkareasub.name %></span>
                <% end %>
              <% end %>
            <% end %>
            <% mcompany.texpertbycomps.each do |texpert| %>
              <span class="label label-warning"><%= texpert.mexpertise.name %></span>
            <% end %>
            <span class="help-block"><small></small></span>
            <span class="view-deal">
            <div class="btn btn-success" >
            <%= link_to "詳細を見る",mcompany_path(mcompany.id),:style=>"color:white;",:target=>'_blank' %>
            </div></span>
          </div>
        </div>
      </li>
      <% topic_count += 1 %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <% topic_count = 0 %>
      <% @ttopics.each do |ttopic| %>
      
      <% if topic_count > 2 %>
        <% topic_count = 0 %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <ul class="thumbnails">
      <% end %>     
      <li class="span4">
        <div class="thumbnail unit-bg">
          <% if ttopic.tfilebytopics.count > 0 %>
            <% tfilebytopic = ttopic.tfilebytopics[0] %>
            <% if isImage(tfilebytopic.content_type) %>
              <img src=<%= tfilebytopic.thumbnail2_url %> >
            <% elsif isMovie(tfilebytopic.content_type) %>
              <video src=<%= tfilebytopic.upload_file_url %> controls width='100%' allowFullScreen='true'>
                <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
              </video>
            <% end %>
          <% else %>
            <img src='/ajicom.png' width="100%">
          <% end %>
        <div class="caption">
                  <h4><%= ttopic.title %></h4>
                  <p><%= @topic_types[ttopic.topic_type.to_i].last %></p>
                  <p><%= ttopic.upload_date.strftime('%Y/%m/%d') if ttopic.upload_date %></p>
                  <p><%= link_to ttopic.web_url,ttopic.web_url if ttopic.web_url %></p>
          <span class="help-block"><small><%= ttopic.mcompany.company_name if ttopic.mcompany %></small></span>
                    <span class="view-deal">
                      <div class="btn btn-success" >
                      <%= link_to "詳細を見る",ttopic_path(ttopic.id),:style=>"color:white;",:target=>"_blank" %>
                      </div></span>
                </div>
                </div>
            </li>
            <% topic_count += 1 %>
      <% end %>
    </ul>
  </div>
</div>     
                            
                        