<div class="container-fluid">
  <div class="row-fluid">
      <div class="span12">
          <div class="row unit-block">
            <div class="unit-bg">
              <div class="unit">
                <legend>
                  <img src="/assets/app/img/glyphicons_248_asterisk.png" />
                  検索結果
                </legend>
              </div>
            </div>
          </div>
        </div>
        <div id="companies">
                <%= render 'search_result' %>
              </div>
      </div>
    </div>
  </div>
</div>                                
