<p>AJI-COM PRODUCTION BOXへのログインパスワードをリセットしました。</p>

<p>下記をクリックして、ログイン情報の再登録を行って下さい。</p>

<p><%= link_to 'AJI-COM PRODUCTION BOX パスワード変更', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<pre>
問題がありましたら、
以下までご連絡お願い致します。

-----------------------------------
株式会社味の素コミュニケーションズ
マーケティング事業本部
企画制作部
クリエイティブグループ
中垣　一巳
E-mail:info@ajicom.jp
TEL:(03)3555-2950
</pre>
