<%= simple_form_for(@tstaffbycomp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :mcompany_id %>
    <%= f.input :name %>
    <%= f.input :kana %>
    <%= f.input :mail %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
