<h1>Listing tstaffbycomps</h1>

<table>
  <tr>
    <th>Mcompany</th>
    <th>Name</th>
    <th>Kana</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tstaffbycomps.each do |tstaffbycomp| %>
  <tr>
    <td><%= tstaffbycomp.mcompany_id %></td>
    <td><%= tstaffbycomp.name %></td>
    <td><%= tstaffbycomp.kana %></td>
    <td><%= tstaffbycomp.mail %></td>
    <td><%= link_to 'Show', tstaffbycomp %></td>
    <td><%= link_to 'Edit', edit_tstaffbycomp_path(tstaffbycomp) %></td>
    <td><%= link_to 'Destroy', tstaffbycomp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tstaffbycomp', new_tstaffbycomp_path %>
