<p id="notice"><%= notice %></p>

<p>
  <b>Mcompany:</b>
  <%= @tstaffbycomp.mcompany_id %>
</p>

<p>
  <b>Name:</b>
  <%= @tstaffbycomp.name %>
</p>

<p>
  <b>Kana:</b>
  <%= @tstaffbycomp.kana %>
</p>

<p>
  <b>Mail:</b>
  <%= @tstaffbycomp.mail %>
</p>


<%= link_to 'Edit', edit_tstaffbycomp_path(@tstaffbycomp) %> |
<%= link_to 'Back', tstaffbycomps_path %>
