<%= form_for(@mcompuser) do |f| %>
  <% if @mcompuser.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mcompuser.errors.count, "error") %> prohibited this mcompuser from being saved:</h2>

      <ul>
      <% @mcompuser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
