<h1>Listing mcompusers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mcompusers.each do |mcompuser| %>
  <tr>
    <td><%= link_to 'Show', mcompuser %></td>
    <td><%= link_to 'Edit', edit_mcompuser_path(mcompuser) %></td>
    <td><%= link_to 'Destroy', mcompuser, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mcompuser', new_mcompuser_path %>
