<%= form_for(@vdivbycomp) do |f| %>
  <% if @vdivbycomp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vdivbycomp.errors.count, "error") %> prohibited this vdivbycomp from being saved:</h2>

      <ul>
      <% @vdivbycomp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
