<h1>Listing vdivbycomps</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vdivbycomps.each do |vdivbycomp| %>
  <tr>
    <td><%= link_to 'Show', vdivbycomp %></td>
    <td><%= link_to 'Edit', edit_vdivbycomp_path(vdivbycomp) %></td>
    <td><%= link_to 'Destroy', vdivbycomp, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vdivbycomp', new_vdivbycomp_path %>
