<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ajicom Creative Archive" %></title>
    
    <%= csrf_meta_tags %>
    
    <!-- jquery -->
    <script src="/assets/jquery/js/jquery-1.7.2.min.js"></script>
    <!-- backstretch -->
    <script src="/assets/backstretch/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/assets/app/img/bg.jpg");
    </script>
    <script src="/assets/app/js/tablesort.min.js"></script>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    
    <%= stylesheet_link_tag "style", :media => "all" %>
    
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
    
    <style>
    	@media print {
    		/* Your styles here */
    		#header,#footer{
    			display:none;
    		}
    		.navbar{
    			display:none;
    		}
    		.sidebar-content{
    			display:none;
    		}
    		.sidebar-nav{
    			display:none;
    		}
    		
    		.noprint{
    			display:none;
    		}
    		
		}
		
		footer {
			width: 100%;
      position: fixed;
      bottom: 0;
      height: 42px;
		}

		p.thumb { 
		    display:block; 
		    height:320px; 
		    line-height:320px; 
		    overflow:hidden; 
		    position:relative; 
		} 
		
		.copyright{
      color: #FFF;
    }
    
    abbr{
      color:#FF0000;
    }

    </style>	
  </head>
  <body>
    <div class="navbar navbar-fluid-top" >
      <div class="navbar-inner" >
        <div class="container-fluid" style="vertical-align:bottom;">
          <a class="btn btn-navbar" data-target="#header" data-toggle="collapse">
            <span class="icon-search"></span>
          </a>

          <!-- <a class="brand" href="/">Ajicom Production Box</a> -->

          <div class="container-fluid nav-collapse" id="header" >
            <div class="navbar-form">
              <% if user_signed_in? %>
              <% muser = Muser.where(:mail=>User.current_user.email).first %>
                <span class="pull-left">
                  <a href="/"><img src="/logo_portal.png" style="display:block;" /></a>
                </span>
                
                <% if muser %>
                
                  <%= simple_form_for GlobalSearch.new, :url=>{:controller=>:global_searches ,:action => :search} do |f| %>
                    <% if muser.user_div >= '2'%>
                      <span class="pull-right">
                        <span class="login-input" id="loginInput">
                          <%= f.text_field :text,:placeholder=>'会社名、件名、内容、備考など',:style=>'width:200px' %>
                          <button type="submit" class="btn btn-primary">
                                    検索</button>
                        </span>
                        <audio src="/store/01Spacecowboy.mp3" style="margin-top:8px;margin-right:2em;" controls>
                        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
                        </audio>
                      </span>
                      
                    <% end %>
                    
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div><!--/.nav-collapse -->
          
          
        </div>
      </div>
 	</div>  

    <div class="container-fluid">
    <% if user_signed_in? %>
      <div class="row-fluid">
        <div class="span3">
        	<!-- <div id="logo" class="well unit-bg sidebar-content">
            <a href="/">
              <img src="/logo.png" width="100%" />
            </a>
          </div> -->
          ようこそ<%= muser.user_name if muser %>様
          <div class="well sidebar-nav">
            <span class="label label-info large" style="font-size: 16px;">MENU</span>
            <span class="navbar">
              <a class="btn btn-navbar pull-right" data-target="#sidebar" data-toggle="collapse">
                <span class="icon-th-list"></span>
              </a>
            </span>
            <ul class="nav nav-list nav-collapse" id="sidebar">              
              <% if !muser.blank? && muser.user_div >= '1'%>
                <li><%= link_to "What's New", "/ttopics/whatsnew"  %></li>
                <li><%= link_to "作品一覧", "/ttopics/history"  %></li>
                <li><%= link_to "作品検索", "/ttopics/search"  %></li>
              <% end %>
              <!-- 
              <% if !muser.blank? && (muser.user_div == "1" || muser.user_div == "2") %>
                <% if muser.user_div == "2" %>
                  <li class="nav-header">アジコムメニュー</li>
                <% end %>
                <li><%= link_to "協力会社検索", "/mcompanies/search"  %></li>
                <li><%= link_to "協力会社一覧", "/mcompanies"  %></li>
                <li><a href="/ca/creative_archive.html" target="_blank">CREATIVE ARCHIVE(準備中)</a></li>
              <% end %>
               -->
              
              <% if !muser.blank? &&( muser.user_div == "2" || muser.user_div == "3" )%>
                <li><%= link_to "クリエイティブCR作品登録", "/ttopics"  %></li>
              <% end %>
              <% if !muser.blank? && muser.user_div == "3" %>
                  <li class="nav-header">管理者メニュー</li>
                <li><%= link_to "会社登録", "/mcompanies/new"  %></li>
                <!-- <li><%= link_to "会社検索", "/mcompanies/search"  %></li> -->
                <li><%= link_to "会社一覧", "/mcompanies"  %></li>
                <li><%= link_to "登録ユーザー一覧", "/musers/search"  %></li>
                <!-- <li><%= link_to "アジコムユーザー登録", "/musers/ajicom_new"  %></li> -->
                <li><%= link_to "ブランド登録", "/mbrands/new"  %></li>
                <li><%= link_to "ブランド一覧", "/mbrands"  %></li>
              <% end %>

              <li><%= link_to "ログアウト", "/sign_out"  %></li>
            </ul>
          </div><!--/.well -->
          
          <!-- <div class="well unit-bg sidebar-content">
            <p>
                <i class="icon-heart"></i>&nbsp;Follow Us</p>
            <ul class="unstyled">
                <li>
                    <div class="fb-like-box" data-href="http://www.facebook.com/pages/Twitter/278029242253904"
                        data-width="292" data-show-faces="false" data-stream="false" data-header="false">
                    </div>
                </li>
                <li><a href="https://twitter.com/twitter" class="twitter-follow-button" data-link-color="#0069D6"
                    data-show-count="true">Follow @twitter</a> </li>
            </ul>
        </div> -->
          
        </div><!--/span-->
      <% end %>
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->

    <footer id="footer">
        <div class="navbar navbar-fluid-bottom">
          <div class="navbar-inner">
            <div class="container-fluid">
              <ul class="nav copyright">
                <li><%= link_to "© 2014 AJI-COM. All rights reserved.", "#"  %></li>
              </ul>
              <ul class="nav pull-right">
                <li><%= link_to "プライバシーポリシー", "http://ajicom.sakura.ne.jp/ajicom/crg_portal/privacy.html",:target=>"_blank"  %></li>
                <li><%= link_to "免責事項", "http://ajicom.sakura.ne.jp/ajicom/crg_portal/menseki.html",:target=>"_blank"  %></li>
                <li><%= mail_to "info@ajicom.jp", "お問い合わせ"  %></li>
                <li><%= link_to "（株）味の素コミュニケーションズ", "http://www.ajicom.co.jp/",:target=>"_blank"  %></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </footer>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    // iPhone/iPad/iPod、Android
    if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
    || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
      //mobile
      var footer = document.getElementById("footer");
      footer.parentNode.appendChild(footer.children[0]);
      footer.parentNode.removeChild(footer);
      // var logo = document.getElementById("logo");
      // logo.parentNode.removeChild(logo);
    }else{
      var loginInput = document.getElementById("loginInput");
      loginInput.parentNode.removeChild(loginInput);
      
    }
    </script>

  </body>
</html>
