<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ajicom Creative Archive" %></title>
    
    <%= csrf_meta_tags %>
    
    <!-- jquery -->
    <script src="/assets/jquery/js/jquery-1.7.2.min.js"></script>
    <!-- backstretch -->
    <script src="/assets/backstretch/js/jquery.backstretch.min.js"></script>
    <script>
        $.backstretch("/assets/app/img/bg.jpg");
    </script>
    <script src="/assets/app/js/tablesort.min.js"></script>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    
    <%= stylesheet_link_tag "bootstrap", :media => "all" %>
    <%= stylesheet_link_tag "bootstrap-responsive.min", :media => "all" %>
    
    <%= stylesheet_link_tag "style", :media => "all" %>
    
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'images/apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  
    </style>	
  </head>
  <body>

  <span class="login-input" id="loginInput">
  </span>

  <div class="span10">
    <br/>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
    // iPhone/iPad/iPod、Android
    if ( navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('iPad') > 0 
    || navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
      //mobile
      var footer = document.getElementById("footer");
      footer.parentNode.appendChild(footer.children[0]);
      footer.parentNode.removeChild(footer);
      // var logo = document.getElementById("logo");
      // logo.parentNode.removeChild(logo);
    }else{
      var loginInput = document.getElementById("loginInput");
      loginInput.parentNode.removeChild(loginInput);
      
    }
    </script>

  </body>
</html>
