<h1>Listing mnotices</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Another name</th>
    <th>Created by</th>
    <th>Updated by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mnotices.each do |mnotice| %>
  <tr>
    <td><%= mnotice.id %></td>
    <td><%= mnotice.name %></td>
    <td><%= mnotice.another_name %></td>
    <td><%= mnotice.created_by %></td>
    <td><%= mnotice.updated_by %></td>
    <td><%= link_to 'Show', mnotice %></td>
    <td><%= link_to 'Edit', edit_mnotice_path(mnotice) %></td>
    <td><%= link_to 'Destroy', mnotice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mnotice', new_mnotice_path %>
