<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @mnotice.id %>
</p>

<p>
  <b>Name:</b>
  <%= @mnotice.name %>
</p>

<p>
  <b>Another name:</b>
  <%= @mnotice.another_name %>
</p>

<p>
  <b>Created by:</b>
  <%= @mnotice.created_by %>
</p>

<p>
  <b>Updated by:</b>
  <%= @mnotice.updated_by %>
</p>


<%= link_to 'Edit', edit_mnotice_path(@mnotice) %> |
<%= link_to 'Back', mnotices_path %>
